@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family:'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
} 

:root {
    --cor0: #C5EBD6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063D1E;

    --fontpadrao: Arial, Verdana, Helvetica, sans-serif;
    --fontdestaque: "Bebas Neue", sans-serif;
    --fontandroid: 'Android', sans-serif;
}

* {
    margin: 0px; 
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fontpadrao);
}

a.externo::after {
    content: '\1F517'
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--fontdestaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.27);
}

header > p {
    color: white;
    font-family: var(--fontpadrao);
    font-size: 1.2em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.299);

}

nav {
    background-color: var(--cor5);
    padding: 10PX;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.285);
}
nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}
nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
    border-radius: 5px;
    transition-duration: .5s;
}
main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.405);
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main img { 
    width: 100%;
}
main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}
main h1 {
    color: var(--cor5);
    font-family: var(--fontandroid);
    font-weight: normal;
    font-size: 1.8em;

}

main h2 {
    font-family: var(--fontandroid);
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor2), transparent);
    font-weight: normal;
    font-size: 1.3em;
    text-indent: 8px;
}

main p {
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 15px;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a {
    color: var(--cor5);
    background-color: var(--cor0);
    text-decoration: none;
    font-weight: bold;
    padding-top: 1px;
    padding-right: 4px;
    padding-bottom: 1px;
    padding-left: 4px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

div.video {
    background-color: var(--cor5);
    margin-bottom: 30px;
    margin-top: 0px;
    margin-right: -20px;
    margin-left: -20px;
    padding: 20px;
    padding-bottom: 56.7%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 8px;
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 5px;
    margin-top: -10px;
    margin-right: -10px;
    margin-bottom: 0px;
    margin-left: -10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

aside > ul {
    list-style-type: '\2714\00A0'; /*Não é compativel com todos os navegadores */
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}